<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
      }

      th,
      td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    {% csrf_token %}
    <h2>Advised property Table</h2>
    <p>
      List of days:
    </p>

    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>lat</th>
        <th>lon</th>
        <th>bedrooms</th>
        <th>bathrooms</th>
        <th>match</th>
      </tr>
      {% for property in properties %}
      <tr>
        <td>{{ property.id }}</td>
        <td>{{ property.name }}</td>
        <td>$ {{ property.price }}</td>
        <td>{{ property.lat }}</td>
        <td>{{ property.lon }}</td>
        <td>{{ property.bedrooms }}</td>
        <td>{{ property.bathrooms }}</td>
        <td style="font-weight: bold;">{{ property.match }} %</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
